# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

version: '3'

services:
  simonpi-rpi-3:
    container_name: simonpi-rpi-3
    image: m0rf30/simonpi:latest
    tty: true
    command: 'simonpi rpi-3 -r'
    privileged: true
    volumes:    
    - /dev:/dev
    - ~/.simonpi:/root/.simonpi
    ports:
    - "2222:2222"

